<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias alias="mdto" type="com.sjw.pwb.dto.MemberDTO"/>
		<typeAlias alias="cdto" type="com.sjw.pwb.dto.CategoryDTO"/>
		<typeAlias alias="sdto" type="com.sjw.pwb.dto.SubjectDTO"/>
		<typeAlias alias="qdto" type="com.sjw.pwb.dto.QuestionDTO"/>
		<typeAlias alias="adto" type="com.sjw.pwb.dto.AnswerDTO"/>
		<typeAlias alias="msdto" type="com.sjw.pwb.dto.MyscoreDTO"/>
		<typeAlias alias="rdto" type="com.sjw.pwb.dto.ReviewDTO"/>
	</typeAliases>
</configuration>
